.box0{
    width: 200px;
    height: 300px;
    background-color: rgb(22, 60, 22);
    /* border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%; */
    border-radius: 20em/3em;
    margin: 0 auto;
    margin-top: 100px; 
    
}  
.box1{
    border: 0px solid gray;
    width: 150px;
    height: 300px;
    /* padding-top: 175px; */
    
    
}
img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    
}
